body {
  display: grid;
  min-height: 100vh;
}

.hero {
  align-self: start;
}

.footerWrapper {
  align-self: end;
}

.text {
  font-family: var(--fontWork-2);
  font-size: var(--subHeading);
}

.form {
  display: flex;
  flex-direction: column;
}

.submit-btn {
  margin-top: 10px;
}

.label {
  font-family: var(--fontWork-2);
  font-size: var(--subHeading);
}

input,
textarea {
  padding: 10px 20px;
  margin: 8px 0;
  border-radius: 3px;
  background-color: #eeeeee;
  border: 1.5px solid #212529;
}

@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .right {
    order: 0;
  }
  .sectionTwo__left {
    order: 1;
  }
}
