/* ! ===Import Section Start=== */
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

/*  Bootstrap CDN */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");
/* ===Import Section End=== */

/* ! ===Variable Section Start=== */
:root {
  /* font */
  --h1: 40px;
  --h2: 32px;
  --h3: 28px;
  --h4: 24px;
  --h5: 20px;
  --h6: 16px;
  --subHeading: 20px;
  --label: 16px;

  --letterSpacing: 5px;

  --bodyText: 14px;

  --fontCrimson-1: "Crimson Text", serif;
  --fontWork-2: "Work Sans", sans-serif;

  /* color */
  --color-dark-100: rgb(33, 37, 41);
  --color-dark-75: rgba(33, 37, 41, 0.75);
  --color-dark-50: rgba(33, 37, 41, 0.5);
  --color-dark-25: rgba(33, 37, 41, 0.25);

  --color-white-100: rgb(255, 255, 255);
  --color-white-75: rgba(255, 255, 255, 0.75);
  --color-white-50: rgba(255, 255, 255, 0.5);
  --color-white-25: rgba(255, 255, 255, 0.25);

  --color-green-100: rgb(81, 124, 189);
  --color-green-75: rgba(81, 124, 189, 0.75);
  --color-green-50: rgba(81, 124, 189, 0.5);
  --color-green-25: rgba(81, 124, 189, 0.25);

  --shadow-1: 3px 4px 12px 1px rgba(0, 0, 0, 0.25);
}
/*  ===Variable Section End=== */

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/* ! ===Hero Section Start=== */
.hero {
  background-color: var(--color-green-100);
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}

.navbar__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.navbar__logo--text {
  font-size: var(--h2);
  color: var(--color-white-100);
  font-family: var(--fontWork-2);
  font-weight: 500;
}

.navbar__menu {
  display: flex;
  font-display: row;
  gap: 15px;
  font-family: var(--fontWork-2);
  font-size: var(--h5);
}

[class^="navbar__menu--"] {
  text-decoration: none;
  color: var(--color-white-100);
}

.navbar__icon {
  display: none;
}

.navbar__icon i {
  cursor: pointer;
  font-size: var(--h2);
  color: var(--color-white-100);
}

.hide {
  display: none;
}
/*  ===Hero Section End=== */

/* ! ===Label Text Section Start=== */
.label {
  font-family: var(--fontWork-2);
  font-size: var(--label);
  letter-spacing: var(--letterSpacing);
  text-transform: uppercase;
  font-weight: 700;
}
/*  ===Label Text Section End=== */

/* ! ===Text Color Section Start=== */
.text-white {
  color: var(--color-white-100);
}

.text-black {
  color: var(--color-dark-100);
}

.text-green {
  color: var(--color-green-100);
}
/*  ===Text Color Section End=== */

/* ! ===Button Section Start=== */
.white-btn,
.dark-btn {
  background-color: var(--color-white-100);
  color: var(--color-dark-100);
  cursor: pointer;
  border: none;
  font-family: var(--fontWork-2);
  font-size: var(--h5);
  padding: 10px 40px;
  border-radius: 8px;
}

.dark-btn {
  background-color: var(--color-dark-100);
  color: var(--color-white-100);
}
/*  ===Button Section End=== */

/* ! ===Responsive Image Section Start=== */
.responsive-image {
  max-width: 100%;
  height: auto;
}
/*  ===Responsive Image Section End=== */

/* ! ===Common Class Name Section Start=== */
.container {
  max-width: 1140px;
  margin: auto;
}

.grid {
  padding: 40px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 25px;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.common-title {
  font-size: var(--h1);
  font-family: var(--fontCrimson-1);
  font-weight: bold;
  text-transform: capitalize;
}

.text-center {
  text-align: center;
}
/*  ===Common Class Name Section End=== */

/* ! ===Footer Section Start=== */
.footerWrapper {
  background-color: var(--color-green-100);
}

.footerLinks {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}

.footerLinks__copyright {
  font-family: var(--fontWork-2);
  font-size: var(--subHeading);
}

.footerLinks__socials {
  display: flex;
  gap: 10px;
}
/*  ===Footer Section End=== */

/* ! ===Media Queries Section=== */
@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
  .common-title {
    font-size: var(--h2);
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 740px;
  }
  .common-title {
    font-size: var(--h4);
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 500px;
  }
  .grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
  .white-btn,
  .dark-btn {
    font-size: var(--h6);
    padding: 8px 25px;
  }
  .navbar__menu {
    z-index: 1;
    background-color: var(--color-green-100);
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 100px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
  .navbar__menu--home {
    margin-top: -200px;
  }
  .navbar__icon {
    display: block;
  }
  .hidden {
    z-index: -1;
    opacity: 0;
  }

  .footerLinks {
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 20px;
  }
}

@media (max-width: 568px) {
  .container {
    max-width: 90%;
  }
}

/* ! === Section Start=== */
/*  === Section End=== */
