/* ! ===SectionOne Start=== */
.sectionOne__left--text {
  font-size: var(--bodyText);
  font-family: var(--fontWork-2);
  color: var(--color-white-75);
}

.sectionOne__left--btn {
  align-self: start;
}
/* ===SectionOne End=== */

/* ! ===Section Two Start=== */
.sectionTwo {
  display: grid;
  gap: 30px;
  padding: 40px 0;
}

.sectionTwo__content--text {
  font-family: var(--fontWork-2);
  font-size: var(--subHeading);
}

.sectionTwo__logo {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.sectionTwo__logo img {
  justify-self: center;
  align-self: center;
}

.sectionTwo__btn {
  justify-self: center;
}
/* ===Section Two End=== */

/* ! ===Section Three Start=== */
.sectionThree__right--text {
  color: var(--color-dark-50);
  font-family: var(--fontWork-2);
  font-size: var(--bodyText);
}

.sectionThree__right--btn {
  align-self: start;
  margin-top: 20px;
}
/* ===Section Three End=== */

/* ! ===Section Four Start=== */
.sectionFour__left--text {
  color: var(--color-dark-50);
  font-family: var(--fontWork-2);
  font-size: var(--bodyText);
}

.sectionFour__left--btn {
  align-self: start;
  margin-top: 20px;
}
/* === Section Four End=== */

/* ! ===Section Five Start=== */
.sectionFive {
  display: grid;
  gap: 30px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.sectionFive__content--text {
  font-family: var(--fontWork-2);
  font-size: var(--subHeading);
}

.sectionFive__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

[class^="sectionFive__cards--"] {
  box-shadow: var(--shadow-1);
  padding: 20px 25px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

[class^="sectionFive__cards--"] .name {
  font-family: var(--fontCrimson-1);
  font-size: var(--h5);
  font-weight: bold;
}

[class^="sectionFive__cards--"] .position {
  font-family: var(--fontWork-2);
  color: var(--color-dark-75);
  text-transform: uppercase;
}

.sectionFive__btn {
  justify-self: center;
}
/* ===Section Five End=== */

@media (max-width: 1200px) {
  .sectionTwo__logo {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }
}

@media (max-width: 768px) {
  .sectionOne__left {
    order: 1;
  }
  .sectionOne__right {
    order: 0;
  }
  .sectionFour__left {
    order: 1;
  }
  .sectionFour__right {
    order: 0;
  }
  .sectionFive__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .sectionFive__cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .sectionTwo__logo {
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
  }
}

/* ! === Section Start=== */
/* === Section End=== */
